@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin");

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font: 90px/100px "Libre Franklin";
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow: hidden;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child1 {
	padding:7px;
	letter-spacing: -5px;
}
svg {
  width:100%;
  height: 100%;
}
/* Create a style team with font size less than the body capitalised and positioned below the child div*/
.team {
  font-size: 0.3em;
  text-align: center;
  overflow: auto;
}

